<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
	<rewrite>
		<rules>
			<rule name="HTTP to HTTPS redirect" stopProcessing="true">
				<match url="(.*)" />
				<conditions>
					<add input="{HTTPS}" pattern="^OFF$" />
				</conditions>
				<action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther" />
		    	</rule>
			<rule name="Remove WWW" stopProcessing="true">
				<match url=".*" ignoreCase="true" />
				<conditions logicalGrouping="MatchAll">
					<add input="{HTTP_HOST}" pattern="^www\.(.*)$" />
				</conditions>
				<action type="Redirect" url="https://{C:1}/{R:0}" appendQueryString="true" redirectType="Permanent" />
			</rule>
        	</rules>
            	<outboundRules>
                	<rule name="AddSameSiteCookieFlag">
                    		<match serverVariable="RESPONSE_Set_Cookie" pattern="(.*)=(.*)$" />
                    		<conditions logicalGrouping="MatchAny" />
                    		<action type="Rewrite" value="{R:0};SameSite=none; Secure" />
                	</rule>
            	</outboundRules>
    	</rewrite>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <add value="index.asp" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="Detailed" />
        <httpRedirect enabled="false" destination="https://sitename.com" childOnly="false" httpResponseStatus="Permanent" />
        <caching enabled="false" enableKernelCache="false">
            <profiles>
                <add extension=".asp" policy="DontCache" kernelCachePolicy="DontCache" />
            </profiles>
        </caching>
        <httpProtocol>
            <customHeaders>
                <add name="P3P" value="CP='CAO PSA CONi OTR OUR DEM ONL'" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
